@import url('https://fonts.googleapis.com/css?family=Roboto');

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

*  {
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    border: solid black 1px;
    scroll-behavior: smooth; /*Makes smooth scrolling instead of jumping for menu and buttons*/
}

body,
html {
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    margin: 0px;
}

a {
    text-decoration: none;
}

.titles {
    font-family: 'Playfair Display', sans-serif;
    letter-spacing: 0.1em;
}

.logo-container {
    display: flex;
    align-items: center;
}

.tajam {
    background: linear-gradient(
        280deg,
        rgba(96, 85, 136, 1) 0%,
        rgba(16, 168, 171, 1) 100%
      );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: lighter;
    padding: 10px;
}

.bluebuttons {   
    text-decoration: none;
    color: #52c3c0;
    font-weight: 600;
    padding: 10px 20px;
    border: 1px solid #52c3c0;
    text-align: center;
    text-transform: uppercase;
    border-radius: 2px;
    letter-spacing: 0.1em; 
}

/* Start of Kai Section Header/Navbar + Team */

/* Header/Navbar */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("design-assets/bgk-header.png");
    background-size: cover;
    background-repeat: no-repeat; 
    width: 100%;
    /*position: sticky;
    top: -555px;*/  
}

nav { 
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    /*position: sticky;
    top: 0;*/
}

.menu {
    min-width: fit-content;
}

.menu a {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 0px 0px 0px 2em;
    font-size: 12px;
}

.menu a:hover {
    color:#52c3c0;
}

.s1-introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6em;
    width: 60%;
}

#s1-title {
    color: white;
    font-size: 32px;
    margin-bottom: 15px;
    font-family: "playfair display", sans-serif;
}

.s1-divider {
    width: 4em;
    border: 1px solid #52c3c0;
}

.s1-introduction-text {
    text-align: center;
    color: white;
    line-height: 1.8;
    max-width: 50em;
    margin-bottom: 40px;
    opacity: 0.7;   
}

/* Team section */

.s5-team {
    background-image: url("design-assets/bgk-header.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    width: 100%;
}

.s5-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding-bottom: 4%;
}

.s5-intro {
    color: white;
    text-align: center;
    letter-spacing: 0.1em;
}

#s5-title {
    margin-top: 60px;
    margin-bottom: 5px;
    letter-spacing: 0.1em;
}

.s5-line {
    width: 4em;
    border: 1px solid grey;
    margin-bottom: 2.5em;
    margin-top: 0;
}

.s5-team-pictures {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.s5-team-picture {
    width: 24%;
    min-height: 150px;
    height: 100%;
}

@media only screen and (min-width: 1200px) {
    .s5-team-pictures {
      height: 250px;
    }
}

@media only screen and (min-width: 1400px) {
    .s5-team-pictures {
      height: 300px;
    }
}

.s5-team-members {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5em;
    width: 100%;
}

.s5-team-member {
    border: 1px solid grey;
    width: 24%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.s5-team-picture img {
    width: 100%;
    height: 100%;
}

.s5-team-name {
    font-weight: 700;
    margin-bottom: 6px;
    letter-spacing: 0.1em;
}

.s5-team-role {
    margin-top: 6px;
    opacity: 0.7;
}

#s5-button {
    margin-top: 25px;
}

/* End of Kai Section Header/Navbar + Team */

/* Start of Andrea Section Story + Expertise */

/* Story */

.s2-our-story {
    display: flex;
    justify-content: center;
    width: 100%;
}

.s2-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: 60px 0;
}

.s2-subcontainer {
    display: flex;
}

.s2-img-container {
    display: flex;
}

.s2-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.s2-paragraph {
    color: #616164;
    line-height: 1.6em;
}

/* Expertise */

.s4-expertise {
    width: 100%;
    display:flex;
    justify-content: center;
}

.s4-container {
    width: 60%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.s4-head {  
    margin-top: 50px;
    text-align: center;
}

.s4-subtitle{
    color: grey;
    letter-spacing: 0.1em;
}

.s4-line {
    border-bottom: solid #bababe;
    height: 10px;
    max-width: 50px;
    margin: 20px auto 0 auto;
}

.s4-body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 40px auto;
    padding-bottom: 20px;
}

.s4-card-title{
    font-weight: bold;
}

.s4-cards {
    min-width: 250px;
    padding: 30px 50px 20px ;
}

.s4-card-1 {
    height: 250px;
    width: 33.33%;
    border-right: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    text-align: center;
    margin: 0 0;
    overflow:hidden;
}

.s4-card-2 {
    height: 250px;
    border-right: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    text-align: center;
    width: 33.33%;
    margin: 0 0;
    overflow:hidden;
}

.s4-card-3 {
    height: 250px;
    border-bottom: 1px solid whitesmoke;
    text-align: center;
    width: 33.33%;
    margin: 0 0;
    overflow:hidden;
}

.s4-card-4 {
    height: 250px;
    border-right: 1px solid whitesmoke;
    text-align: center;
    width: 33.33%;
    margin: 0 0;
    overflow:hidden;

}

.s4-card-5 {
    height: 250px;
    border-right: 1px solid whitesmoke; 
    text-align: center;
    width: 33.33%;
    margin: 0 0;
    overflow:hidden;

}

.s4-card-6 {
    height: 250px;
    text-align: center;
    width: 33.33%;
    margin: 0 0;
    overflow:hidden;
}

/* End of Andrea Section Story + Expertise */

/* Start of Guillaume Section Video + News/Clients + Footer */

/* Video */

.s3-video {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url("design-assets/bgk-middle.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 240px;
    padding-bottom: 180px;
}

.s3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#s3-title {
    color: white;
    letter-spacing: 0.1em;
    margin-top: 35px;
}

/* News/Clients */

.s6-container {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.s6-news, .s6-client {
    width: 45%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.s6-form {
    display: flex;
    flex-direction: column;
}

.s6-input {
    font-size: 15px;
    margin: 11px 0px;
    padding: 11px;
    border: solid 1px lightgray;
}

.s6-input::placeholder {
    color: lightgray;
}

#s6-button {   
    background-color: white;
    width: 25%;
    min-width: 100px;
    margin: 11px 0px;
}

.s6-spacer {
    width: 10%;
}

.s6-client {
    display: flex;
    flex-direction: column;
}

.s6-logo-divider {
    display: flex;
}

.s6-logo-container-left {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 0px;
    margin-right: 0px;
}

.s6-logo-container-right {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 0px;
    margin-right: 0px;
}

.s6-container a {
    width: 80%;
}

.s6-logo-container-left .s6-logo {
    width: 90%;
    margin: 20px 0px;
}

.s6-logo-container-right .s6-logo {
    width: 90%;
    margin: 20px 20px;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("design-assets/bgk-footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 100%;
}

footer a{
    color: white;
}

.s7-top {
    display: flex;
    justify-content: space-between;
    width: 60%;
    line-height: 1.5em;
}

.s7-sub-top {
    width: 33%;
    padding: 7% 0px 5% 0px;
}

.s7-add-padding {
    padding-right: 25px;
}

.s7-logo-text {
    width: 90%;
}

.s7-add-margin {
    margin-top: 25px;
}

.s7-mini-icon {
    padding-right: 10px;
    margin-top: 5px;
}

.s7-span {
    margin-top: 5px;
    padding-right: 40px;
}

.s7-reference-link {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.phone {
    align-self: flex-start;
}

.s7-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    width: 100%;
}

.s7-input {
    font-size: 15px;
    padding: 12px;
    border: solid 1px white;
    background: rgba(255, 255, 255, 0);
    opacity: 0.65;
    width: 79%;
}

.s7-input::placeholder {
    color: white;
}

.s7-submit {
    background-color: white;
    opacity: 0.45;
    padding: 6px 22px;
    margin-left: 8px;
}

.s7-bottom {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding-bottom: 4%;
}

.s7-bottom-links {
    font-family: sans-serif;
    font-weight: 300;
}

.s7-mini-logo {
    margin-right: 7px;
}

.s7-bottom-link-container {
    width: 35%;
    justify-self: flex-start;
    display: flex;
    justify-content: space-between;
}

/* End of Guillaume Section News/Clients + Footer */